
body {

background-image: url(https://twimg0-a.akamaihd.net/images/themes/theme1/bg.png);
background-attachment: fixed;
background-repeat: no-repeat;
background-position: left 0px;
float:none;
background-color: #C0DEED;
font-family: helvetica;
padding:0px;
margin:0px;
}
a {color: #242629;}
a:visited {color:#242629;}
a:hover {color: #999;}
a:active { color:#000000;}
body, ul, li, img {
	margin: 0; padding: 0; border: 0;
}

h1 {
font-size: 11px;
text-transform:uppercase;
background-color: #242629;
border-top:1px solid #000;
border-bottom:1px solid #000;
padding:5px 15px;
margin:0px }

h2 {
font-size:20px;
font-weight: normal;
padding: 5px 10px;
margin:0px;
color:000;
}

img.download {vertical-align:middle;}

/* ----------container to center the layout-------------- */
#container {
width: 800px;
height: 100%;
font-family: Arial,sans-serif;
margin-bottom: 10px;
margin-left: auto;
margin-right: auto;
margin-top:23;
background-image: url('wash-white-30.png');
padding-top: 1px;
color:000;
}



/* ----------banner for logo-------------- */
/* Main navigation block element */
#cssmenu{
position: fixed;
z-index: 1;
height:37px;
-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
-moz-box-shadow: 0 2px 3px rgba(0,0,0,.25);
box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
display:block;
width: 101%;
margin:-25 0 0 -3; 
border:1px solid;
border-radius:5px;
}

#cssmenu > ul {list-style:inside none; padding:0; margin:0;}
#cssmenu > ul > li {list-style:inside none; padding:0; margin:0; float:left; display:block; position:relative;}

/* Styling navigation links */
#cssmenu > ul > li > a{
outline:none;
display:block;
position:relative;
padding:12px 20px;
font:bold 13px/100% Arial, Helvetica, sans-serif;
text-align:center;
text-decoration:none;
text-shadow:1px 1px 0 rgba(0,0,0, 0.4);
}

#cssmenu > ul > li:first-child > a{border-radius:5px 0 0 5px;}


/* Extra border for navigation links */
#cssmenu > ul > li > a:after{
content:'';
position:absolute;
border-right:1px solid;
top:-1px; bottom:-1px; right:-2px;
z-index:99;
}
#cssmenu ul li.has-sub:hover > a:after{top:0; bottom:0;}

/* Bullet for dropdowns */
#cssmenu > ul > li.has-sub > a:before{
content:'';
position:absolute; top:18px; right:6px;
border:5px solid transparent;
border-top:5px solid #fff;
}
#cssmenu > ul > li.has-sub:hover > a:before{top:19px;}

/* Hover state styles for drop menu link */
#cssmenu ul li.has-sub:hover > a{
background:#3f3f3f;
border-color:#3f3f3f;
padding-bottom:13px; padding-top:13px;
top:-1px;
z-index:999;
}

/* Show dropdown when hover */
#cssmenu ul li.has-sub:hover > ul, #cssmenu ul li.has-sub:hover > div{display:block;}
#cssmenu ul li.has-sub > a:hover{background:#3f3f3f; border-color:#3f3f3f;}

/* Dropdown styles */
#cssmenu ul li > ul, #cssmenu ul li > div{
display:none; width:auto;
position:absolute; top:38px;
padding:10px 0;
background:#3f3f3f;
border-radius:0 0 5px 5px;
z-index:999;
}

/* Dropdown list style */
#cssmenu ul li > ul{width:200px;}
#cssmenu ul li > ul li{display:block; list-style:inside none; padding:0; margin:0; position:relative;}
#cssmenu ul li > ul li a{
outline:none; display:block;
position:relative;
margin:0; padding:8px 20px;
font:10pt Arial, Helvetica, sans-serif; color:#fff;
text-decoration:none;
text-shadow:1px 1px 0 rgba(0,0,0, 0.5);
}

/* Dropdown box styles */
#cssmenu ul li > div{width:auto; padding:20px;}
#cssmenu ul li > div p{
font:9pt/150% Arial, Helvetica, sans-serif; color:#fff;
text-align:justify;
text-shadow:1px 1px 0 rgba(0,0,0,0.5);
margin:0;
}

#cssmenu ul li > div h1{
position:relative;
margin:0 0 12px 0;
padding-bottom:10px;
border-bottom:1px solid #222;
font:bold 13pt Arial, Helvetica, sans-serif; color:#bbb;
text-shadow:1px 1px 0 rgba(0,0,0,0.5);
}
#cssmenu ul li > div h1:after{
content:'';
height:0; padding:0;
position:absolute; bottom:-2px; left:0; right:0;
border-bottom:1px solid #555;
}

/* ---------------- Styles ----------------- */


/* Gray */
#cssmenu, 
#cssmenu > ul > li > ul > li a:hover{
background:#575757;
background:-moz-linear-gradient(top, #575757 0%, #000 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#575757), color-stop(100%,#000));
background:-webkit-linear-gradient(top, #575757 0%,#000 100%);
background:-o-linear-gradient(top, #575757 0%,#000 100%);
background:-ms-linear-gradient(top, #575757 0%,#000 100%);
background:linear-gradient(top, #575757 0%,#000 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#000',GradientType=0);
}
#cssmenu {border-color:#888;}
#cssmenu > ul > li > a{border-right:1px solid #888; color:#fff;}
#cssmenu > ul > li > a:after{border-color:#e5e5e5;}
#cssmenu > ul > li > a:hover{background:#bbb;}

/* -----------------content--------------------- */
#content {
background-color: #ffffff;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
font-size: 13px;
margin-left: 271px;
margin-right: 145px;
margin-top: 31px;
margin-bottom: 10px;
min-height:450px;
}


@media only screen and (max-width: 959px) { 

#content {
width: 167px;
position:relative;
margin-top: 155px;
left: -16%;
min-height: 135;
}

#left{

Position:relative;
left:16%
}
}


div#content { 

height:expression(this.scrollHeight > 600 ? "auto":"600px"); 
}


p, pre{
padding: 5px 10px;
margin:0px;
font-family:Arial,sans-serif;
}

/* --------------left navi------------- */
#left {
position: fixed;
float: left;
font-size: 11px;
width: 187px;
margin: 31px 0px 0px 66px;
padding: 0px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
background-color: white;
}
